.buttonSurContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 50vh;
} 
.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 50%;
}
.button {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    border-radius: 1vh;
margin: 1vh;
}
.subButton {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.buttonA {
    background-color: red;
    color: white;
}
.buttonB {
    background-color: orange;
    color: white;
}
.buttonC {
    background-color:green;
    color: white;
}
.buttonD {
    background-color: blue;
    color: white;
}
.buttonA:hover {
    background-color: darkred;
}
.buttonB:hover {
    background-color: darkorange;
}
.buttonC:hover {
    background-color: darkgreen;
}
.buttonD:hover {
    background-color: darkblue;
}

* {
    box-sizing: border-box;
  }
  ::placeholder {
    color: darkgray;
    opacity: 1;
  }

/* Erst mal display none, wird dann über js geändert, soblad Benutzername fertig is*/
.quizbox {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

}
.nickbox {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: brown;

}
.tb1b {
position: absolute;
left: 35%;
top: 80%;
height: 5%;
width: 40%;
border: 2px solid gray;
}

.txt1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(50, 50, 80);
}



.tb1{ 
position: absolute;
width: 100%;
height: 100%;
top: 0%;
left: 0%;
outline: none;
color: gray;
border: none;
color: white;
background-color: rgba(0, 0, 0, 0.5);
}

.tb1:focus {
color: black;
background-color: white;
}

.tb1b:hover{

    border-color: white;
  
  }
