/* basic style */
* {
    margin: 0;
    padding: 0;
    font-size: 2vmax;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    line-height: 3vmax;
    box-sizing: border-box;
    user-select: none;
}
body {
    background-color: black;
}
.buttonSurContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 50vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
}  
.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    width: 100vw;
    justify-content: center;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47vw;
    border-radius: 2vw;
}
.subButton {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.buttonA {
    background-color: #D11031;
    color: white;
    margin-left: 2vw;
    margin-right: 1vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.buttonB {
    background-color: #F99306;
    color: white;
    margin-left: 1vw;
    margin-right: 2vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.buttonC {
    background-color: #1B7A08;
    color: white;
    margin-left: 2vw;
    margin-right: 1vw;;
    margin-top: 1vw;
    margin-bottom: 2vw;
}
.buttonD {
    background-color: #0B52C1;
    color: white;
    margin-left: 1vw;
    margin-right: 2vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
}
.buttonA:hover {background-color: #E21B3C;}
.buttonB:hover {background-color: #FFA602;}
.buttonC:hover {background-color: #26890C;}
.buttonD:hover {background-color: #1368CE;}

.buttonA:active {background-color: #AB0018;}
.buttonB:active {background-color: #C97900;}
.buttonC:active {background-color: #005D00;}
.buttonD:active {background-color: #00419F;}

.buttonStyle {
    background-color: gray;
    width: fit-content;
    color: lightgray;
    padding: 0.5vw 1vw;
    margin: 0.5vw 1vw;
    border: lightgray solid 0.5vw;
    border-radius: 1vw;
}
.buttonStyle:hover {
    background-color: darkgray;
    color: white;
    border: white solid 0.5vw;
}
.buttonStyle:active {
    background-color: black;
    color: gray;
    border: gray solid 0.5vw;
}

.timerContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 50vmin;
    width: 100vw;
    position: absolute;
    pointer-events: none;
}

/* Timerzeug*/
.timerbox {
    position: absolute;
    background-color: rgb(63, 63, 63);
    width: 40vmin;
    height: 40vmin;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.s1 {
    background-color: gray;
    z-index: 2;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;
}

.s2 {
    background-color: gray;
    z-index: 3;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;
}

.s3 {
    background-color: rgb(63, 63, 63);
    z-index: 4 ;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;
    border: rgb(63, 63, 63) solid;
}

.bigcircle {
    width: 80%;
    height: 80%;
    background-color: black;
    border-radius: 50%;
    z-index: 5;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column wrap;
}

.timertext {
    font-size: 5vh;
    color: gray;
}


.tb1b {
    display: block;
    width: 50vw;
    height: 5vw;
}

.tb1 {
    width: 100%;
    height: 60%;
    background-color: rgb(63, 63, 63);
    padding-left: 1%;
    color: white;
    border: none;
    outline: gray solid;

    &.error
    {
      animation: shake 0.2s ease-in-out 0s 2;
    }

}

@keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
  }

.tb1:hover {
    outline: white solid;
    background-color: rgb(45, 45, 45);
}

.tb1:focus {
    background-color: white;
    color: black;
}

.unerror {
    width: 100%;
    height: 40%;
    color: red;
}

.inputbox {
    justify-content: center;
    align-items: center;
    display: inherit;
    background-color: black;
    width: 100%;
    height: 100%;
}

.zwischenbox4 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: gray;
    position: absolute;
}

.zwischenbox2 {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
    background-color: red;
}

.zwischenbox3 {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: blue;
    position: absolute;
}

.tbox {
    background-color: blue;
    width: 80%;
    height: 4%;
    position: absolute;
    top: 55%;
    left: 10%;
}

.tbox2 {
    background-color: white;
    width: 0%;
    height: 4%;
    position: absolute;
    top: 55%;
    left: 10%;
    transition: linear 2s;
}

.quizbox {
    justify-content: center;
    align-items: start;
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    background-color: black;
}

.sQbt {
    position: absolute;
}

.frage1 {
    padding-top: 35%;
    font-size: 8vh;
}


.frage2 {
    font-size: 8vh;
    padding-top: 35%;
}

.biginputbox {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
}

.unbox {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.zwischenbox1 {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: cadetblue;
}

.img {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}

/* https://www.bing.com/images/search?view=detailV2&ccid=oM%2Fpk81r&id=8A1469D3F13C9002C610363C911937E0B94DD93D&thid=OIP.oM_pk81rLlQqteN5tUKxugAAAA&mediaurl=https%3A%2F%2Fsourceenergy.com.au%2Fwp-content%2Fthemes%2Fsource%2Fassets%2Fimg%2Fgreen-checkw.png&cdnurl=https%3A%2F%2Fth.bing.com%2Fth%2Fid%2FR.a0cfe993cd6b2e542ab5e379b542b1ba%3Frik%3DPdlNueA3GZE8Ng%26pid%3DImgRaw%26r%3D0&exph=300&expw=300&q=richtig+symbol&simid=608003645550638670&form=IRPRST&ck=8C0165EA5D9ACC848F1FEC27D00DA65A&selectedindex=141&ajaxhist=0&ajaxserp=0&vt=0&sim=11 */
.imgr {
    background-image: url(Data/r.png);
    width: 20%;
    height: 0;
    padding-bottom: 20%;
}

/* https://www.bing.com/images/search?view=detailV2&ccid=GmsJfFpG&id=7E1D0275AE49F3466E747329950973DBAD8FDB80&thid=OIP.GmsJfFpGWMjYACtDsuqvVQHaHa&mediaurl=https%3A%2F%2Fillust8.com%2Fwp-content%2Fuploads%2F2018%2F08%2Fmark_batsu_illust_899-768x768.png&cdnurl=https%3A%2F%2Fth.bing.com%2Fth%2Fid%2FR.1a6b097c5a4658c8d8002b43b2eaaf55%3Frik%3DgNuPrdtzCZUpcw%26pid%3DImgRaw%26r%3D0&exph=768&expw=768&q=falsch+symbol&simid=608048008266133631&form=IRPRST&ck=16877369DF3FBDFB4004B74A1590471C&selectedindex=11&ajaxhist=0&ajaxserp=0&pivotparams=insightsToken%3Dccid_jxOkPutK*cp_B99351C1912DC33C12560952D5A9548F*mid_490AD07D61BA5B86795F33C5E6EE94BD901B48BD*simid_608013691479864762*thid_OIP.jxOkPutK5i93qQI1ndr6EQHaHa&vt=0&sim=11&iss=VSI&ajaxhist=0&ajaxserp=0 */
.imgf {
    display: block;
    background-image: url(Data/f.png);
    width: 20%;
    height: 0;
    padding-bottom: 20%;
}

/* https://www.bing.com/images/search?view=detailV2&ccid=D2Ko1S%2bk&id=2B2D8CA5CE6A12D60CA92FBAD29FF83BAF3C979E&thid=OIP.D2Ko1S-kMMJ5VQAPi8YI8gHaHE&mediaurl=https%3a%2f%2fclipground.com%2fimages%2ffire-symbol-png-1.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.0f62a8d52fa430c27955000f8bc608f2%3frik%3dnpc8rzv4n9K6Lw%26pid%3dImgRaw%26r%3d0&exph=860&expw=900&q=flame+icon&simid=607998173773985400&FORM=IRPRST&ck=E3B15025DBF2D705CFF17661DCD228F2&selectedIndex=21&ajaxhist=0&ajaxserp=0 */
.ims {
    display: block;
    background-image: url(Data/streak.png);
    width: 5%;
    height: 0;
    padding-bottom: 5%;
}

