

.bgi {
    background-image: url("data/Jochen.jpg");
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute  ;
  }

.ubox {

    position: absolute;
    bottom: 10%;
    left: 30%;
    border: solid 2px red;
    height: 30%;
    width: 40%;
}

.un {
    border: none;
    outline: grey 2px solid;
    width: 40%;
    height: 10%;
    left: 30%;
    top: 10%;
    position: absolute;
    font-size: large;
}