
body {
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.buttonStyle {
    width: 20%;
    background-color: gray;
    width: fit-content;
    color: lightgray;
    padding: 0.5vw 1vw;
    margin: 0.5vw 1vw;
    border: lightgray solid 0.5vw;
    border-radius: 1vw;
}

.buttonStyle:hover {
    background-color: darkgray;
    color: white;
    border: white solid 0.5vw;
}
.buttonStyle:active {
    background-color: black;
    color: gray;
    border: gray solid 0.5vw;
}



.dark {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .6);
    transition: 1s;
    -webkit-transition: 1s;
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    top: 0;
    left: 0;
}

.fl {
    display: none;
    border-radius: 50%;
    position: absolute;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .6);
    transition: 2s;
    -webkit-transition: 2s;
    right: 0;
    top: 5%;
}


.flin {
    animation-name: entrance;
    animation-duration: 2s;
    right: 40%;
}

.flout {
    transition: 0.8s!important;
    -webkit-transition: 0.8s!important;
    width: 85%;
    padding-bottom: 85%;
    opacity: 0;
    transform: translateY(-30%);
}

@keyframes entrance {
    0% {
        right: 0;
    }
    85% {
        right: 42%;
    }
    100% {
        right: 40%;
    }
}

.endpublikum {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    flex-direction: column;
}

.bigbox {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 40%;
    width: 80%;
    margin-top: 5%;
}


.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: none;
    flex: 1;
    height: 100%;
    margin-left: 2vh;
    margin-right: 2vh;
}

.namebox1{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.name1 {
    font-size: 7vh;
    position: absolute;
}

.bar1 {
    display: flex;
    width: 100%;
    background-color: rgb(68, 131, 20);
    height: 80%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}


.placeholder {
    display: flex;
    width: 100%;
    height: 20%;
    background-color: transparent;
    justify-content: center;
    align-items: center;

}


.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: none;
    flex: 1;
    height: 80%;
    margin-left: 2vh;
    margin-right: 2vh
}

.bar2 {
    display: flex;
    width: 100%;
    background-color: rgb(185, 109, 9);
    height: 80%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.namebox2{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.name {
    position: absolute;
    font-size: 4vh;
    color: white;
    margin-bottom: 1vw;
}

.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: none;
    flex: 1;
    height: 60%;
    margin-left: 2vh;
    margin-right: 2vh;
}

.bar3 {
    display: flex;
    width: 100%;
    background-color: rgb(0, 81, 173);
    height: 80%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.namebox3{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.name3 {
    font-size: 7vh;
    position: absolute;
}

.endpodium {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    flex-direction: column;

}

.podcontainer {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.podnamebox {
    border: red 2px solid;
    width: fit-content;
}

.podname {
    font-size: 6vw;
}

.endname {
    display: none;
    position: relative;
    font-size: 4vh;
    color: white;
    margin-bottom: 1vw;
}


.namein {
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    animation-name: namein;
    animation-duration: 0.8s;
    font-size: 6vh;
}

@keyframes namein {
    0% {
        font-size: 0;
    }

    94% {
        font-size: 6.5vh;
    }

    100% {
        font-size: 6vh;
    }
    
}


.brn {
    font-size: 10vh;
    color: white;
}

.rankreveal {
    position: absolute;
    font-size: 8vh;
    color: white;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.bt3 {
    position: absolute;
    top: 0;
    right: 0;
}

.points {
    font-size: 2.5vh;
    color: white;
}