.newTimer {
	display: none;
	justify-content: center;
	align-items: center;
	position: relative;
}
.newTimer h2 {
    font-size: 3em;
	width: 160px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}
svg {
	transform: rotate(-90deg);
}
.circle_animation {
    stroke-dasharray: 565; /* 2 * π * r */
    stroke-dashoffset: 0;
    transition: all 1s linear;
}


body {
    background-image: url("../Data/hinter.svg");
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
}
/* 
:fullscreen, ::backdrop {
    background-image: url("../Data/hinter.svg");
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
} */

table {
    border-collapse: collapse;
}
tr {
    border: 0.5vh solid white;
}


.surface {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.bt1 {
    z-index: 1;
    right: 0;
    position: absolute;
    top: 0;
}

.bt2 {
    right: 0;
    position: absolute;
    top: 0;
}

.boxPhase4 {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.boxPhase2ox {
    position: absolute;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}






.frage1sur {
    font-size: 5vw;
}

.frage2sur {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    word-break: break-all;
    align-items: center;
    font-size: 5vmin;
    margin-bottom: 8%;
}




/* Timerzeug*/
.timerbox {
    position: absolute;
    background-color: yellow;
    top: 0;
    width: 40vmin;
    height: 40vmin;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.s1 {
    background-color: orangered;
    z-index: 2;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;
}

.s2 {
    background-color: orangered;
    z-index: 3;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;
}

.s3 {
    background-color: yellow;
    z-index: 4 ;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;
    border: yellow solid;
}

.bigcircle {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    z-index: 5;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column wrap;
}

.timertext {
    font-size: 3vh;
    color: yellow;
}

.votebox {
    display: block;
    position: absolute;
    border: none;
    width: 50%;
    height: 30%;
    top: 5%;
    left: 23%;
}

.vote {
    width: 50vw;
    height: 30vw;
}



.boxPhase1nbox {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.balkenbox {
    background-color: gray;
    width: 80%;
    height: 4%;
    position: absolute;
    bottom: 15%;
    left: 10%;
}

.balken {
    background-color: red;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
}


.gamebox {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.boxWelcome {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    display: flex;
    justify-content: center;
    align-items: bottom;
    flex-direction: row;
}

.is {
    color: red;
    padding-left: 5px;
    padding-right: 5px;
}

.start {
    position: absolute;
    top: 0;
    left: 0;
}

.qr {
    width: 60vmin;
    height: 60vmin;
    padding-bottom: 20%;
    background-image: url("../Data/qr-code.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.qnumber {
    top: 0;
    left: 0;
    position: absolute;
}







.img {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}

.rowstreak {
    flex-direction: row;
}

#resetFragen {
    display: none;
}

#resetUsers {
    display: none;
}



.nimg {
    width: 100%;
}

.normaluser {
}

.podium {
    background-color: orange;
    transition: 0.4s;
}

.tablebox {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}



.table {
    z-index: 1;
    position: absolute;
    top: 10%;
}

.userRecord {
    background-color: darkgray;
    transition: 0.4s;
}

.rank {
    width: 12vw;
}

.uscore {
    width: 15vw;
}

.uname {
    width: 40vw;
}

.streak {
    width: 7vw;
}


.podiumSwitch {
    width: 7vw;
}

.streakRecord {
    /* center the text */
    font-size: 6vh;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-image: url(../Data/streak.svg);
    /* make only one image */
    background-repeat: no-repeat;
    /* center it */
    background-position: center;
}


.switchContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.dataCell {
    font-size: 6vh;
    padding: 0.5vh 2vh;
}

.headRow {
    background-color: gray;
}
.udata {
    font-size: 6vh;
    padding: 1vh 2vh;
}



.spacecol {
    background-color: red;
}

.switch {
    display: flex;
    justify-content: center;
    position: relative;
    display: inline-block;
    width: 5vw;
    height: 3vw;
  }
  
  .switch .switchinput {

    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Große Box Normalzustand*/
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 3vw;
  }
  
  /* Kleiner interner Kreis Normalzustand*/
  .slider:before {
    background-color: white;
    position: absolute;
    content: "";
    height: 2vw;
    width: 2vw;
    left: 0.5vw;
    bottom: 0.5vw;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  /* Große Box wenn eingeschalted*/
  .switchinput:checked + .slider {
    background-color: #2196F3;
  }
  
  /* Große Box wenn focus*/
  .switchinput:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  /* Kleiner interner Kreis wenn eingeschalted*/
  .switchinput:checked + .slider:before {
    -webkit-transform: translateX(2vw);
    -ms-transform: translateX(2vw);
    transform: translateX(2vw);
  }

  body.waiting * {
    cursor: progress;
}

.up {
    background-image: url("../Data/up.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
}

.down {
    background-image: url("../Data/down.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
}
