body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    line-height: 3vh;
    box-sizing: border-box;
}

.rangliste {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 10%;
    left: 0;
    height: 80%;
    position: absolute;
    overflow-y: auto;
}

.buttonStyle {
    width: 20%;
    background-color: gray;
    width: fit-content;
    color: lightgray;
    padding: 0.5vw 1vw;
    margin: 0.5vw 1vw;
    border: lightgray solid 0.5vw;
    border-radius: 1vw;
}

.buttonStyle:hover {
    background-color: darkgray;
    color: white;
    border: white solid 0.5vw;
}
.buttonStyle:active {
    background-color: black;
    color: gray;
    border: gray solid 0.5vw;
}

.udata{
    width: 20vw;
    text-align: center;
    border-spacing: 0;
}
.ureport{
    background-color: gray;
    width: fit-content;
    color: lightgray;
    padding: 0vw 1vw;
    margin: 0.5vw 1vw;
    border: red solid 0.5vw;
    border-radius: 1vw;
    width: 10vw;
    text-align: center;
    color: red;
    font-weight: bolder;
}
.ureport:hover {
    background-color: darkgray;
}
.ureport:active {
    opacity: 0.7;
}

.banned {
    background-color: rgba(255, 0, 0, 0.5);
    width: 20vw;
    text-align: center;
}

table, th, td {
    border: white 2px solid;
    margin: 0;
    padding: 0;
    border-spacing: 0;

}

.ubox {
    height: 50%;
    overflow: auto;
}

.podiumbox {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 5%;
}

.togglebtn {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  
  }
  
  .switch .switchinput { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Große Box Normalzustand*/
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  /* Kleiner interner Kreis Normalzustand*/
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  /* Große Box wenn eingeschalted*/
  .switchinput:checked + .slider {
    background-color: #2196F3;
  }
  
  /* Große Box wenn focus*/
  .switchinput:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  /* Kleiner interner Kreis wenn eingeschalted*/
  .switchinput:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }


.search {
    color: black;
    border: none;
    outline: none;
}

.pbox {
    left: 0;
    top: 20%;
    position: absolute;
}