body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    line-height: 3vh;
    box-sizing: border-box;
    user-select: none;
}

.rangliste {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 10%;
    left: 0;
    height: 80%;
    position: absolute;
    overflow-y: auto;
}

.buttonStyle {
    width: 20%;
    background-color: gray;
    width: fit-content;
    color: lightgray;
    padding: 0.5vw 1vw;
    margin: 0.5vw 1vw;
    border: lightgray solid 0.5vw;
    border-radius: 1vw;
}

.buttonStyle:hover {
    background-color: darkgray;
    color: white;
    border: white solid 0.5vw;
}
.buttonStyle:active {
    background-color: black;
    color: gray;
    border: gray solid 0.5vw;
}

.udata{
    width: 20vw;
    text-align: center;
    user-select: text;
}

.report{
    background-color: gray;
    color: lightgray;
    border: red solid 0.5vw;
    border-radius: 21vw;
    width: 10vw;
    text-align: center;
    color: red;
    font-weight: bolder;
    margin: 0.1vw;
    -webkit-transition: .4s;
    transition: .4s;
}

.ureport {
    border: none;
}

.uswitch {
    width: fit-content;
    text-align: center;
}
.report:hover {
    background-color: darkgray;
    cursor: pointer;
    color: white;
}
.report:active {
    opacity: 0.7;
}

.banned {
    background-color: rgba(255, 0, 0, 0.5);
    width: 20vw;
    text-align: center;
}


td {
    border: white 2px solid;
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
}


.ubox {
    /* Height 0 lassen, sonst ist bei nur einem user als Suchergebnis die Box zu groß */
    height: 0;
    overflow: auto;
}

.podiumbox {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 5%;
}

.togglebtn {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  
  }
  
  .switch .switchinput { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Große Box Normalzustand*/
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FF4500;
    -webkit-transition: .1s;
    transition: .1s;
    border-radius: 34px;
  }
  
  .slider:hover {
    opacity: 0.7;
  }

  .switchinput:active + .slider:before {
    width: 30px;
  }

  /* Kleiner interner Kreis Normalzustand*/
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .1s;
    transition: .1s;
    border-radius: 50%;
  }


  
  /* Große Box wenn eingeschalted*/
  .switchinput:checked + .slider {
    /*background-color: #2196F3;*/
    background-color: #4CAF50;
  }
  
  /* Große Box wenn focus*/
  .switchinput:focus + .slider {
    /* box-shadow: 0 0 1px #2196F3; */
    box-shadow: 0 0 1px #4CAF50;
}

  /* Kleiner interner Kreis wenn eingeschalted*/
  .switchinput:checked + .slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

.search {
    left: 2vh;
    color: black;
    border: none;
    outline: none;
    position: fixed;
}

.pbox {
    left: 2vh;
    top: 20%;
    position: fixed;
}

body.waiting * {
    cursor: progress;
}

